/* ========================================================================== */
/* =================================== ALL ================================== */
/* ========================================================================== */
.video-list {
	@extend .clearfix;

	.video-item {
		margin: 0 0 pem( 65 );

		.video-info { @extend .text; }

		.video-frame {

			.embed-container {
				height: 0; height: auto; max-width: 100%; overflow: hidden; padding-bottom: 56.25%; position: relative;

				iframe, object, embed { height: 100%; left: 0; position: absolute; top: 0; width: 100%; }
			}
		}
	}
}

.other-videos {
	@extend .text;
}
/* ========================================================================== */
/* ================================= MOBILE ================================= */
/* ========================================================================== */

.video-list { padding: pem( 30 ) 0 0; }

.other-videos { padding-bottom: pem( 48 ); }

/* ========================================================================== */
/* ============================== INTERMEDIATE ============================== */
/* ========================================================================== */
@include respond-min( 48em ) {

	.video-list {
		padding: pem( 60 ) 0 0;

		.video-item {
			float: left; width: 47%; margin-left: 6%;

			&.row-first { clear: both; margin-left: 0; }
		}
	}

	.other-videos { padding-bottom: pem( 94 ); }
}
/* ========================================================================== */
/* ================================== WIDE ================================== */
/* ========================================================================== */
@include respond-min( 60em ) {

}
/* ========================================================================== */
/* ================================= MAXIMAL ================================ */
/* ========================================================================== */

/* ========================================================================== */
/* ================================= PRINT ================================== */
/* ========================================================================== */
@media print {

	.video-list {

		.video-item {

			.video-frame { display: none; }
		}
	}
}